* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}
/* .homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.myName {
  margin: 10px;
  width: 100%;
  text-align: right;
}
.fullStack {
  text-align: center;
}
.buttonStyles {
  color: black;
  font-weight: bold;
}

.landing-image {
  background-image: url('./images/eatrepeat.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: rgba(17, 17, 17, 1);
}
.landing-image h2 {
  text-align: center;
  position: absolute;
  top: 25%;

  left: 30%;

  color: white;
  font-weight: bold;
}
.landing-image h3 {
  position: absolute;

  bottom: 12%;
  right: 10%;

  color: white;
  font-weight: 'bold';
}
nav.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 15px;
}

.fontAwesomeIcons {
  display: flex;
}

@media (min-width: 800px) {
  nav.footer {
    height: 50px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 650px) {
  .landing-image h2 {
    text-align: center;
    position: absolute;
    top: 25%;

    left: 20%;

    color: white;
    font-weight: bold;
  }
  .landing-image h3 {
    position: absolute;

    bottom: 20%;
    left: 10%;
    text-align: center;

    color: white;
    font-weight: 'bold';
  }
}
